@charset "UTF-8";
/*----------------------------
*  共通
*----------------------------*/
body {
  word-wrap: break-word;
  color: #554c49;
  font-size: 1rem;
  font-synthesis: none;
  font-weight: 400;
  letter-spacing: .04em;
  line-height: 165%;
  direction: ltr;
}
.container {
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.sec--container {
  padding-right: 80px;
  padding-left: 80px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.lg-3, .lg-4, .lg-5, .lg-6, .lg-7, .lg-8, .lg-9,
.md-6, .sm-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

/*----------------------------
*  title
*----------------------------*/
.title__secondary,.share--header-title {
  margin-bottom: 0;
  color: #fadd13;
  font-size: 3rem;
  line-height: 1.2;
}
.title__primary {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
}
.title__primary--content {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.title__primary--en {
  writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;/*Chrome, Safari対応*/
    -moz-writing-mode: tb-rl;/*Firefox対応*/
  font-size: 1.75rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-text-transform: uppercase; /*Chrome, Safari対応*/
  -moz-text-transform: uppercase; /*Firefox対応*/
}
.title__primary--ja {
  writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;/*Chrome, Safari対応*/
    -moz-writing-mode: tb-rl;/*Firefox対応*/
  text-orientation: sideways;
    -webkit-text-orientation: sideways;/*Chrome, Safari対応*/
    -moz-text-orientation: sideways;/*Firefox対応*/
  position: relative;
  margin-top: 20px;
  font-size: 1rem;
  font-weight: 400;
}
.title__primary--ja:before {
  display: inline-block;
  position: absolute;
  top: -11px;
  left: 50%;
  width: 4px;
  height: 4px;
  margin-bottom: 10px;
  transform: translateX(-50%);
  -webkit-transform: translateY(-50%); /*Chrome, Safari対応*/
  -moz-transform: translateY(-50%); /*Firefox対応*/
  border-radius: 50%;
  background-color: #554c49;
  content: "";
}

/*----------------------------
*  ニュース、お知らせ一覧へ,フランチャイズオーナー募集  ボタン
*----------------------------*/
.btn__primary--wrapper {
  display: block;
  z-index: 2;
  position: relative;
  color: #554c49;
  text-decoration: none;
}
.btn__primary--wrapper:before {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: -100px;
  width: 200px;
  height: 200px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); /*Chrome, Safari対応*/
  -moz-transform: translateY(-50%); /*Firefox対応*/
  border-radius: 50%;
  background-color: #fff;
  content: "";
}
.btn__primary--ja {
  font-size: 1rem;
}
.btn__primary--sub {
  display: flex;
  align-items: center;
}
.btn__primary--en {
  margin-top: 16px;
  margin-right: 4px;
  font-size: .875rem;
  line-height: 1;
}
/*----------------------------
* swiper
*----------------------------*/
.swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  transition-property: transform;
  -webkit-transition-property: transform;/*Chrome, Safari対応*/
  -moz-transition-property: transform;/*Firefox対応*/
}
.swiper-slide {
  font-size: 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
  -webkit-transition-property: transform;/*Chrome, Safari対応*/
  -moz-transition-property: transform;/*Firefox対応*/
}
.swiper-button-next, .swiper-button-prev{
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  margin-top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fadd13;
  font-size: 35px;
  width: 30px;
  height: 45px;
}
.swiper-pagination {
  transition: .3s opacity;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0); /*Chrome, Safari対応*/
  -moz-transform: translate3d(0,0,0); /*Firefox対応*/
  margin-top: 20px
}
.swiper-pagination-bullet {
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;
  opacity: 0.7;
  width: 12px;
  height: 12px;
  margin: 0 12px 0 0;
  border: 2px solid #fadd13;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background-color:  #fadd13;
}
/* share内のswiper*/
.share--header-visual .swiper-pagination-bullet {
  margin-top: 20px;
}
/* fadeswiper */
.fadeswiper .swiper-pagination {
  margin-top: 20px;
}

/*----------------------------
*  sp版  非表示
*----------------------------*/
#js-hamburger,.drawer,#concept-sp,#features-sp,.footer__top--sp{
  display: none;
}

/*----------------------------
*  header
*----------------------------*/
#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header__bg {
  position: relative;
}
.header-bg-el {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%); /*Chrome, Safari対応*/
  -moz-transform: translateY(-100%); /*Firefox対応*/
  background-color: #fcf9f4;
  content: "";
  transition: all .5s cubic-bezier(.165,.84,.44,1);
  -webkit-transition: all .5s cubic-bezier(.165,.84,.44,1); /*Chrome, Safari対応*/
  -moz-transition: all .5s cubic-bezier(.165,.84,.44,1); /*Firefox対応*/
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1); /*Chrome, Safari対応*/
  -moz-transition-timing-function: cubic-bezier(.165,.84,.44,1); /*Firefox対応*/
}
.header__wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: center;
}
.header__logo {
  flex: 0 0 200px;
  max-width: 200px;
  margin-right: 40px;
  margin-bottom: 0;
  padding: 15px 0 15px 25px;
  font-size: 1rem;
  line-height: 100%;
  text-align: center;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
.header__logo .header__logo--link {
  position: relative;
}
.logo-big {
  width: 175px;
  height: 175px;
  transition: all .3s cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}
.logo-small {
  position: absolute;
  top: 0;
  left: 0;
  width: 48px;
  height: 48px;
  opacity: 0;
  transition: all .1s cubic-bezier(.165,.84,.44,1);
  transition-delay: .1;
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

/*----------------------------
*  globalnav
*----------------------------*/
#global__nav{
  flex-basis: 0;  /*主要部分の初期寸法*/
  flex-grow: 1;
}
.global__nav--list {
  display: flex;
  justify-content: flex-start;
}
.global__item--link{
  display: block;
  padding: 0 30px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-text-transform: uppercase; /*Chrome, Safari対応*/
  -moz-text-transform: uppercase; /*Firefox対応*/
  white-space: wrap;
}
/*----------------------------
*  sns icon
*----------------------------*/
#sns__nav{
  padding-right: 8%;
}
.sns__icon{
  font-size: 24px;
  color: #fff;
}

/*----------------------------
*  main
*----------------------------*/
/*----------------------------
*  ファーストビュー
*----------------------------*/
.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.hero__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hero__copyright {
  writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: tb-rl;

  position: absolute;
  top: 0;
  left: 40px;
  height: 100%;
  color: #fff;
  font-size: .875rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  -webkit-text-transform: uppercase; /*Chrome, Safari対応*/
  -moz-text-transform: uppercase; /*Firefox対応*/
}
.hero__scroll {
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl; /*Chrome, Safari対応*/
  -moz-writing-mode: tb-rl; /*Firefox対応*/
  display: flex;
  position: absolute;
  right: 40px;
  bottom: 160px;
  align-items: center;
  color: #fff;
  font-size: .875rem;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-text-transform: uppercase; /*Chrome, Safari対応*/
  -moz-text-transform: uppercase; /*Firefox対応*/
}
.hero__scroll .text {
  transform: translateY(-150%);
  -webkit-transform: translateY(-150%); /*Chrome, Safari対応*/
  -moz-transform: translateY(-150%); /*Firefox対応*/
}
.hero__scroll .arrow {
  width: 180px;
  transform: rotate(90deg);
  -webkit-transform:  rotate(90deg); /*Chrome, Safari対応*/
  -moz-transform:  rotate(90deg); /*Firefox対応*/
  transform-origin: center bottom;
}

/*----------------------------
*  consept
*----------------------------*/
.concept{
  overflow: hidden;
}
.concept--wrapper{
  position: relative;
}
.concept__list{
  display: flex;
}
.concept__item{
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 12vh;
  padding-bottom: 25vh;
}
.concept .item-1 {
  background-color: #fcf9f4;
  text-align: center;
}
.concept .item-2{
  background-color: #fdf6e5;
}
.concept .item-3{
  background-color: #faedea;
}
.concept .item-4{
  background-color: #fae4d3;
}
.concept--title {
  margin-bottom: 48px;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}
.concept--text {
  max-width: 990px;
  margin: 0 auto 80px;
  line-height: 1.85;
}
.concept--text span {
  display: inline-block;
  margin-bottom: 1.25rem;
}
.concept--text span:last-child{
  margin-bottom: 0;
}
.concept--features {
  position: relative;
}
.concept--features.features-1:before {
  background-color: rgba(250,221,19,.1);
}
.concept--features.features-2:before {
  background-color: rgba(228,179,182,.1);
}
.concept--features.features-3:before {
  background-color: rgba(213,143,117,.1);
}
.concept--features:before {
  z-index: 1;
  position: absolute;
  bottom: -10%;
  left: -5%;
  width: 110%;
  height: 55%;
  content: "";
}
.concept--features-row {
  z-index: 2;
  position: relative;
  align-items: flex-end;
}
.concept--features-thumbnail {
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 10px;
}
.features-1 .concept--features-heading {
  color: #fadd13;
}
.features-2 .concept--features-heading {
  color: #e4b3b6;
}
.features-3 .concept--features-heading {
  color: #d58f75;
}
.concept--features-heading {
  margin-bottom: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}
.concept--features-desc {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.8;
}

/*----------------------------
*  menu
*----------------------------*/
.menu--wrapper {
  padding: 120px 0 150px;
  background-color: #fcf9f4;
}
.menu--content-list{
  max-width: 1560px;
  margin-left: auto;
  padding-left: 80px;
}
.menu--item-header {
  display: flex;
  flex-wrap: wrap;
  padding-right: 120px;
  margin-bottom: 40px;
}
.menu--item-title ,.menu--item-nav{
  flex: 0 0 50%;
  max-width: 50%;
}
.menu--item-nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: flex-end;
}
.menu--slider {
  margin-top: 40px;
  overflow: hidden;
}
/*----------------------------
*  menu--card
*----------------------------*/
.menu--card {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 48px 40px 58px;
  border: 3px solid #fadd13;
  border-radius: 10px;
  background-color: #fff;
}
.menu--card-img {
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: 141%;
  overflow: hidden;
}
.menu--card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 24px;
}
.menu--card-title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.menu--card-product,.menu--card-price{
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}
.menu--card-text {
  padding-top: 24px;
  line-height: 2;
}
.menu--card-text p{
  font-weight: 400;
}
.menu--slider-pagination {
  display: flex;
  margin-top: 20px;
}
/* menu--content-item 2つ目以降 */
.menu--content-item:not(:first-child) {
  margin-top: 120px;
}

/*----------------------------
*  Share
*----------------------------*/
.share {
  position: relative;
  background-color: #fdf6e5;
}
.share:before {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  content: "";
  background-color: #fcf9f4;
}
.share--wrapper {
  z-index: 2;
  position: relative;
  padding: 0 0 100px;
}
.share--header {
  align-items: flex-end;
}
.share--header-visual {
  position: relative;
}
.share--visual-slide{
  flex-shrink: 0;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  pointer-events: none;
  transition-property: opacity;
}
.share--visual-item{
  position: relative;
  width: 100%;
  margin-bottom: 0;
  padding-top: 50%;
  overflow: hidden;
  border-radius: 10px;
}
.share--visual-pagination {
  display: flex;
  position: absolute;
  bottom: 0;
  left: -40px;
  flex-direction: column;
}
.share--visual-item .bg-1 {
  background-image: url(https://placehold.jp/1074x544.png?text=sample1);
}
.share--visual-item .bg-2 {
  background-image: url(https://placehold.jp/1074x544.png?text=sample2);
}
.share--visual-item .bg-3 {
  background-image: url(https://placehold.jp/1074x544.png?text=sample3);
}
.share--visual-item .bg-4 {
  background-image: url(https://placehold.jp/1074x544.png?text=sample4);
}
.share--desc {
  padding: 72px 0 104px;
  font-size: 1.25rem;
  line-height: 2;
}
/*----------------------------
*  share slider
*----------------------------*/
.share--item {
  max-width: 1560px;
  margin-left: auto;
  padding-left: 0;
}
.share--item-slider {
  overflow: hidden;
}
.share--item-nav, .news--item-nav {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-right: 120px;
}
.share--item-nav .swiper-button-prev, .news--item-nav .swiper-button-prev {
  margin-right: 10px;
}
.share--card-thumbnail ,.card__news--thumbnail{
  position: relative;
  margin: 0;
  padding-top: 66.6%;
  overflow: hidden;
  border-radius: 10px;
}
.share--card-heading {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1rem;
}
.share--card-heading .name,.share--card-heading .price {
  flex: 0 0 50%;
  max-width: 50%;
}
.share--card-heading .price {
  text-align: right;
}
.share--slider-paginatio{
  margin-top: 40px;
}


/*----------------------------
*  メニュ一覧へ
*----------------------------*/
.menulist {
  padding: 104px 0;
  background-color: #fcf9f4;
}
.menulist--btn {
  display: flex;
  justify-content: flex-end;
}

/*----------------------------
*  ショップ情報
*----------------------------*/
.shop {
  background-color: #fcf9f4;
}
.shop--wrapper {
  padding: 120px 0 88px;
}
.shop--elem{
  opacity: .3;
}
.shop--elem .locale {
  font-size: 1.25rem;
  font-weight: 700;
}
.shop--elem .area {
  margin-top: 8px;
  font-size: 1rem;
}
.shop--nav-item:not(:first-of-type) {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid #554c49;
}
.shop--item-thumbnail ,.shop--item-map{
  position: relative;
  padding-top: 78.25%;
  overflow: hidden;
  border-radius: 10px;
}
.shop--item-thumbnail .bg-1 {
  background-image: url(https://placehold.jp/658x340.png?text=梅田店);
}
.shop--item-thumbnail .bg-2 {
  background-image: url(https://placehold.jp/658x340.png?text=名古屋店);
}
.shop--item-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*----------------------------
*  shopカラーアクティブ　JS
*----------------------------*/
/* タブコンテンツ */
#shop .tab-content__item {
  display: none;
}
#shop .tab-content__item.tab-active {
  display: block;
}
/* tabuメニューアクティブ */
.shop--elem.tab-active {
  opacity: 1;
}
#shop.color-active{
  background-color: #394960;
  color: #fff;
  border-color: #fff;
}
#shop.color-active .shop--nav-item:not(:first-of-type){
  border-color: #fff;
}
#shop.color-active .title__primary--ja:before {
  background-color: #fff;
}
#shop.color-active .btn__primary--wrapper:before {
  background-color: #554c49;
}
#shop.color-active .btn__primary--wrapper {
  color: #fff;
}

/*----------------------------
*  ショップテキスト
*----------------------------*/
.shop--item-info {
  margin-top: 40px;
}
.shop--item-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}
.shop--item-list dt {
  flex: 0 0 150px;
  max-width: 150px;
  font-weight: 700;
}
.shop--item-list dd {
  flex-basis: calc(100% - 150px);
  flex-grow: 0;
  flex-shrink: 0;
  max-width: calc(100% - 150px);
  margin-bottom: 0;
  padding-left: 20px;
}
.shop--item-list:not(:first-of-type) {
  margin-top: 32px;
}

/*----------------------------
*  フランチャイルズオーナー募集 ボタン
*----------------------------*/
.shop--btn {
  display: flex;
  justify-content: flex-end;
  padding: 104px 0;
}

/*----------------------------
*  ニュース
*----------------------------*/
.news {
  background-color: #fcf9f4;
}
.news--wrapper {
  padding: 120px 0 148px;
}
.news--content {
  max-width: 1560px;
  padding-bottom: 40px;
  padding-left: 80px;
  margin-left: auto;
}
.news--slider {
  overflow: hidden;
}
.card__news--wrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card__news--thumbnail .bg-1{
  background-image: url(https://placehold.jp/658x340.png?text=sample1);
}
.card__news--thumbnail .bg-2{
  background-image: url(https://placehold.jp/658x340.png?text=sample2);
}
.card__news--thumbnail .bg-3{
  background-image: url(https://placehold.jp/658x340.png?text=sample3);
}
.card__news--time {
  display: block;
  margin-top: 24px;
  padding: 0 16px;
  color: #554c49;
  font-size: 1rem;
  line-height: 1;
}
.card__news--heading {
  margin-top: 18px;
  margin-bottom: 0;
  padding: 0 16px;
  font-size: 1.25rem;
  font-weight: 400;
}


/*----------------------------
*  お知らせ一覧へ
*----------------------------*/
.news--btn {
  display: flex;
  justify-content: flex-end;
  padding: 104px 0;
}


/*----------------------------
*  フッター
*----------------------------*/
.footer__bg {
  padding: 153px 0 35px;
  background-color: #fdf6e5;
}
.footer-content {
  justify-content: space-between!important;
}
.footer__logo img {
  width: 200px;
  height: auto;
}
.footer__logo--group {
  display: flex;
  margin-top: 75px;
}
.footer__logo--group .note{
  margin-right: 20px;
  font-size: 1rem;
}
.group-logo {
  display: inline-block;
}
.group-logo img {
  width: 136px;
  height: auto;
}
.footer__bottom {
  padding: 96px 0 0;
}
#copyright {
  margin: 0;
  font-size: 0.7rem;
  letter-spacing: 1px;
  line-height: 20px;
  text-align: center;
}
/*----------------------------
*  フッターナビ
*----------------------------*/
.footer__nav--list li {
  margin-bottom: 1.5rem;
  color: #fff;
  line-height: 130%;
}
.footer__nav--list li:last-of-type {
  margin-bottom: 0;
}
.footer__nav--link span {
  z-index: 2;
  position: relative;
}

/*----------------------------
* js - スクロール時のヘッダー部分の実装
*----------------------------*/
.common .hamburger__bar{
  background: #554c49;
}
.common .global__item--link, .common .sns__icon{
  color: #554c49;
}
.common .header-bg-el{
  transform: translateY(0);
  -webkit-transform: translateY(0); /*Chrome, Safari対応*/
  -moz-transform: translateY(0); /*Firefox対応*/
}
.common .header__logo{
  flex: 0 0 48px;
  max-width: 48px;
  margin-right: 100px;
}
.common .header__logo--link{
  display: block;
  height: 48px;
}
.common .logo-big {
  width: 48px;
  height: 48px;
  opacity: 0;
}
.common .logo-small{
  opacity: 1;
}
.common .logo-small{
  opacity: 1;
}



/*----------------------------
*  レスポンシブ
*----------------------------*/
@media (min-width: 576px){
  .container {
    max-width: 540px;
  }
  .sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (min-width: 992px){
  .container {
    max-width: 1000px;
  }
  .lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-4 {
    flex: 0 0 33%;
    max-width: 33%;
  }
  .lg-5 {
    flex: 0 0 41%;
    max-width: 41%;
  }
  .lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-7 {
    flex: 0 0 58%;
    max-width: 58%;
  }
  .lg-8 {
    flex: 0 0 66%;
    max-width: 66%;
  }
  .lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
/*----------------------------
*  header 背景
*----------------------------*/
  .middle .header-bg-el {
    opacity: 0;
  }
}
@media (min-width: 1200px){
  .container {
    max-width: 1400px;
  }
}

@media (max-width: 1599px){
  .menu--content-list ,.share--item ,.news--content{
    max-width: 1400px;
    padding-left: 120px;
  }
  .share--header-title, .title__secondary {
    font-size: 2.2rem;
  }
  .sec--container {
    padding-right: 120px;
    padding-left: 120px;
  }
  .btn__primary--wrapper:before {
    left: -80px;
    width: 160px;
    height: 160px;
  }
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }

  #sns__nav {
    padding-right: 80px;
}
  .share--desc {
    font-size: 1rem;
  }
  .share--visual-pagination {
    left: -15px;
  }
  /* share内のswiper*/
  .share--header-visual .swiper-pagination-bullet {
    margin-top: 10px;
  }
  .title__primary {
    left: 40px;
  }
  .card__news--time {
    font-size: .875rem;
  }
  .card__news--heading {
    margin-top: 12px;
    font-size: 1rem;
  }
}
@media (max-width: 1199px){
  .menu--content-list {
    max-width: 1000px;
  }
  .news--content {
    max-width: 1000px;
    padding-bottom: 0;
  }
/*----------------------------
*  menulist, .shop--btn, news--btn
*----------------------------*/
  .menulist, .shop--btn, .news--btn{
    padding: 80px 0;
  }
  .btn__primary--wrapper:before {
    left: -60px;
    width: 120px;
    height: 120px;
  }
  .global__item--link {
    padding: 1.2rem;
}
}
@media (max-width: 991px){
/*----------------------------
*  pc版 非表示
*----------------------------*/
  #global__nav, #concept-pc, .footer__top--pc{
    display: none;
  }
/*----------------------------
*  sp版 表示
*----------------------------*/
  #js-hamburger, #cencept-sp, #features-sp, .footer__top--sp{
    display: block;
  }
  /* 共通 */
  .menu--content-list ,.share--item, .news--content{
    padding-left: calc((100% - 690px)/2);
  }
  .menu--item-header, .share--item-nav, .news--item-nav{
    width: 100%;
    max-width: 705px;
    padding-right: 15px;
  }
  .sec--container{
    padding: 0 15px;
  }
/*----------------------------
*  title
*----------------------------*/
  .title__secondary {
    font-size: 1.5rem;
  }
  .title__primary {
    position: relative;
    top: auto;
    left: auto;
    padding-bottom: 40px;
  }
  .title__primary--content {
    flex-direction: inherit;
  }
  .title__primary--en {
    writing-mode: horizontal-tb;
      -webkit-writing-mode: horizontal-tb;/*Chrome, Safari対応*/
      -moz-writing-mode: lr-tb;/*Firefox対応*/
    display: inline-block;
    font-size: 1.25rem;
  }
  .title__primary--ja {
    writing-mode: horizontal-tb;
      -webkit-writing-mode: horizontal-tb;/*Chrome, Safari対応*/
      -moz-writing-mode: lr-tb;/*Firefox対応*/
    margin-top: 0;
    margin-left: 16px;
    font-size: .875rem;
  }
  .title__primary--ja:before {
    top: 50%;
    left: -10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%); /*Chrome, Safari対応*/
    -moz-transform: translateY(-50%); /*Firefox対応*/
  }
  /* menulist, shop--btn, news--btn*/
  .btn__primary--wrapper:before {
    left: -45px;
    width: 90px;
    height: 90px;
  }
  .btn__primary--arrow {
    width: 90px;
  }


/*----------------------------
*  hamburger メニュー
*----------------------------*/
  .hamburger {
    width: 60px;
    height: 60px;
    z-index: 10000;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  .hamburger__bar{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -11px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #fff;
    transition: all .6s cubic-bezier(1,0,0,1);
    -webkit-transition: all .6s cubic-bezier(1,0,0,1); /*Chrome, Safari対応*/
    -moz-transition: all .6s cubic-bezier(1,0,0,1); /*Firefox対応*/
    transition-property: transform,width;
    -webkit-transition-property: transform,width; /*Chrome, Safari対応*/
    -moz-transition-property: transform,width; /*Firefox対応*/
    transition-timing-function: cubic-bezier(1,0,0,1);
    -webkit-transition-timing-function: cubic-bezier(1,0,0,1); /*Chrome, Safari対応*/
    -moz-transition-timing-function: cubic-bezier(1,0,0,1); /*Firefox対応*/
  }
  .hamburger__bar.top {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px); /*Chrome, Safari対応*/
    -moz-transform: translateY((-7px)); /*Firefox対応*/
  }
  .hamburger__bar.bottom {
    transform: translateY(7px);
    -webkit-transform: translateY(7px); /*Chrome, Safari対応*/
    -moz-transform: translateY((7px)); /*Firefox対応*/
  }

/*----------------------------
* drawer
*----------------------------*/
  .drawer{
    position: fixed;
    z-index: -10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #fcf9f4;
    will-change: auto;
    display: block;
    overflow-y: scroll;
    opacity: 0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1); /*Chrome, Safari対応*/
    -moz-transform: scale(1.1); /*Firefox対応*/
    transition: all .4s cubic-bezier(.19,1,.22,1);
    -webkit-transition: all .4s cubic-bezier(.19,1,.22,1); /*Chrome, Safari対応*/
    -moz-transition: all .4s cubic-bezier(.19,1,.22,1); /*Firefox対応*/
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    -webkit-transition-timing-function: all .4s cubic-bezier(.19,1,.22,1); /*Chrome, Safari対応*/
    -moz-transition-timing-function: all .4s cubic-bezier(.19,1,.22,1); /*Firefox対応*/
  }
  .drawer__container {
    height: 100%;
    padding-top: 20px;
  }
  .drawer__wrapper {
    z-index: 2;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
  }
  .drawer__logo {
    width: 100px;
    margin-bottom: 1rem;
  }
  .drawer__nav {
    margin: 0;
    padding: 0;
    color: #554c49;
    list-style: none;
  }
  .drawer__nav--item {
    margin-bottom: 13px;
    padding: 0.4rem 0;
  }
  .drawer__nav--link {
    display: inline-block;
    overflow: hidden;
    color: #554c49;
    font-size: .9rem;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .drawer__nav--link img{
    width: 100%;
  }
  .drawer__nav--str {
    display: inline-block;
    font-size: .9rem;
    letter-spacing: 2px;
    line-height: 1.1;
    transform: translateY(100%);
    -webkit-transform: translateY(100%); /*Chrome, Safari対応*/
    -moz-transform: translateY(100%); /*Firefox対応*/
    transition: all .6s linear;
    -webkit-transition: all .6s linear; /*Chrome, Safari対応*/
    -moz-transition: all .6s linear; /*Firefox対応*/
  }
  .drawer__nav--str .en {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .drawer__nav--str  .ja {
    margin-top: 4px;
    font-size: .75rem;
  }
  .drawer__copyright {
    padding: 40px 0;
    font-size: .6875rem;
    text-align: center;
  }


/*----------------------------
* header
*----------------------------*/
  .header__wrapper {
    align-items: flex-start;
    justify-content: space-between;
    height: 60px;
    padding: 12px 60px 12px 20px;
  }
  .header__logo {
    flex: 0 0 120px;
    max-width: 120px;
    padding: 0;
    text-align: left;
  }
  .logo-big {
    width: 120px;
    height: 120px;
  }
  .logo-small {
    width: 35px;
    height: 35px;
  }
  #sns__nav {
    padding-top: 7px;
    padding-right: 0;
  }
/*----------------------------
* hero
*----------------------------*/
  .hero__img {
    height: 100%;
  }
  .hero__copyright{
    left: 20px;
  }
  .hero__scroll .text{
    transform: translate(-5px,-100%);
    -webkit-transform: translate(-5px,-100%); /*Chrome, Safari対応*/
    -moz-transform: translate(-5px,-100%); /*Firefox対応*/
  }
  .hero__scroll .arrow{
    width: 90px;
    transform-origin: center center;
  }

/*----------------------------
* concept
*----------------------------*/
  #concept-sp{
    padding: 70px 0 84px 0;
    background-color: #fcf9f4;
    display: block;
  }
  .concept--container {
    margin-right: 20%;
    padding-right: 10px;
  }
  .concept--content {
    text-align: left;
  }
  .concept--title {
    font-size: 3.25rem;
  }
  .concept--text {
    margin-bottom: 0;
  }
  .concept--text span br {
    display: none;
  }
/*----------------------------
* features
*----------------------------*/
  .features--slide{
    width: 100%;
    margin-right: 0;
  }
  .features--item {
    position: relative;
    height: 100%;
    padding: 80px 0 calc(80px + 20%);
    overflow: hidden;
  }
  .item-1-sp{
    background-color: #fdf6e5;
  }
  .item-2-sp{
    background-color: #faedea;
  }
  .item-3-sp{
    background-color: #fae4d3;
  }
  .features--item-thumbnail {
    position: relative;
    margin-bottom: 0;
    padding-top: 45%;
    overflow: hidden;
    border-radius: 10px;
  }
  .features--item-content {
    margin-top: 20px;
    padding: 0 30px;
  }
  .features--item-heading {
    font-size: 2rem;
    font-weight: 700;
  }
  .item-1-sp .features--item-heading {
    color: #fadd13;
  }
  .item-2-sp .features--item-heading {
    color: #e4b3b6;
  }
  .item-3-sp .features--item-heading {
    color: #d58f75;
  }
  .features--item-desc {
    margin-top: 15px;
    padding-bottom: 0;
    font-size: .75rem;
  }
  .features--item-nav {
    display: flex;
  }
  .features--item-nav .swiper-button-prev,.features--item-nav .swiper-button-next{
    z-index: 100;
    position: absolute;
    top: 71%;
  }
  .features--item-nav .swiper-button-prev{
    right: auto;
    left: 10px;
  }
  .features--item-nav .swiper-button-next{
    right: 10px;
    left: auto;
  }


/*----------------------------
* menu
*----------------------------*/
  .menu--wrapper {
    padding: 100px 0;
  }
/*----------------------------
* share
*----------------------------*/
  .share--header {
    flex-direction: column-reverse;
  }
  .share--header-title {
    font-size: 1.5rem;
    margin-top: 12px;
  }
  .share--visual-pagination {
    position: relative;
    left: auto;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 12px;
  }
  .share--header-visual .swiper-pagination-bullet {
    margin-top: 0;
  }
  .share--desc {
    padding: 16px 0 56px;
  }
  .share--card-text{
    padding-top: 12px;
    line-height: 2;
  }
/*----------------------------
* shop
*----------------------------*/
  .shop--wrapper {
    padding: 80px 0 48px;
  }
  .shop--nav {
    display: flex;
    flex-wrap: wrap;
  }
  .shop--nav-item:not(:first-of-type) {
    margin-top: 0;
    margin-left: 15px;
    padding-top: 0;
    padding-left: 15px;
    border-top: none;
    border-left: 1px solid #554c49;
  }
  .shop--content-col:not(:first-of-type) {
    margin-top: 40px;
  }
  .shop--item-list:not(:first-of-type) {
    margin-top: 20px;
  }
  .shop--elem .locale {
    font-size: 1rem;
  }
  .shop--elem .area {
    font-size: .875rem;
  }
/*----------------------------
* news
*----------------------------*/
  .news--wrapper {
    padding: 56px 0 72px;
  }
/*----------------------------
* footer
*----------------------------*/
  .footer__bg {
    padding: 40px 0 12px;
  }
  .footer__top--sp .footer__logo{
    text-align: center;
  }
  .footer__logo img {
    width: 110px;
    height: auto;
  }
  .footer__top--sp .footer__logo--group {
    margin-top: 33px;
    text-align: center;
  }
  .footer__top--sp .footer__logo--group .note{
    font-size: .625rem;
  }
  .footer__top--sp .footer__logo--group .group-logo img {
    width: 88px;
    height: auto;
  }
  .footer__bottom {
    padding-top: 20px;
  }

/*----------------------------
* js 実装
*----------------------------*/
/*----------------------------
* スクロール時のヘッダー部分の実装
*----------------------------*/
  .hamburger-middle .hamburger__bar{
    background: #554c49;
  }
  .header-middle .header-bg-el{
    transform: translateY(0);
    -webkit-transform: translateY(0%); /*Chrome, Safari対応*/
    -moz-transform: translateY(0%); /*Firefox対応*/
  }
/*----------------------------
* hamburger-navの実装　SP版
*----------------------------*/
  .slide-in {
    transform: translateY(0%);
    -webkit-transform: translateY(0%); /*Chrome, Safari対応*/
    -moz-transform: translateY(0%); /*IE対応*/
  }
/*----------------------------
* drawerの実装　SP版
*----------------------------*/
  .drawer.active{
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1); /*Chrome, Safari対応*/
    -moz-transform: scale(1); /*Firefox対応*/
    z-index: 9999;
  }
  .active .hamburger__bar.top {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg); /*Chrome, Safari対応*/
    -moz-transform: rotate(45deg); /*Firefox対応*/
    background: #554c49;
  }
  .active .hamburger__bar.mid{
    width: 0;
    transition-delay: 0s;
    -webkit-transition-delay: 0s;/*Chrome, Safari対応*/
    -moz-transition-delay: 0s;/*Firefox対応*/
  }
  .active .hamburger__bar.bottom {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); /*Chrome, Safari対応*/
    -moz-transform: rotate(-45deg); /*Firefox対応*/
    background: #554c49;
  }
}
@media (max-width: 767px){
/*----------------------------
* 共通
*----------------------------*/
  .menu--content-list, .share--item, .news--content{
    max-width: 540px;
    padding-left: 15px;
  }
  .menu--slider-slide, .share--item-slide, .news--slider-slide {
    width: 289px;
    margin-right: 24px;
  }
  .concept--text span {
    font-size: .75rem;
  }
/*----------------------------
* shop
*----------------------------*/
  .shop--elem .locale {
    font-size: .875rem;
  }
  .shop--elem .area {
    font-size: .75rem;
  }
  .shop--item-primary .md-6:not(:first-of-type){
    margin-top: 16px;
  }
  .shop--item-list dt {
    flex: 0 0 80px;
    max-width: 80px;
  }
  .shop--item-list dd {
    flex-basis: calc(100% - 80px);
    max-width: calc(100% - 80px);
    padding-left: 10px;
  }
}
@media (max-width: 575px){
/*----------------------------
* 共通
*----------------------------*/
  .menu--slider-slide, .share--item-slide, .news--slider-slide {
    width: 100%;
    margin-right: 20px;
  }
/*----------------------------
* hero
*----------------------------*/
  .hero__scroll {
    right: auto;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%); /*Chrome, Safari対応*/
    -moz-transform: translateX(-50%); /*Firefox対応*/
  }
  .hero__scroll .text{
    transform: translate(-2.5px,-80%);
    -webkit-transform: translate(-2.5px,-80%); /*Chrome, Safari対応*/
    -moz-transform: translate(-2.5px,-80%); /*Firefox対応*/
  }
  .hero__scroll .arrow {
    width: 80px;
  }
/*----------------------------
* share
*----------------------------*/
  .share--visual-slide {
    width: 100%
  }
}






